# Postgres
PG_HOST=expenses
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=password
PG_DB=postgres

DEBUG_SQL=false # Log SQL statements

# Secret Key for JWT tokenizer
SECRET_KEY=secretkey # Use command `openssl rand -hex 32` to generate
